{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Reset Your Password</h1>
    </div>
    <div class="section" style="margin-top: 20px">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.email(required=True) }}
                    {{ form.email.label }}
                    <button class="btn waves-effect waves-light" type="submit">
                        {{ form.submit() }}<i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
