nav {
    background-color: black;
}

nav .brand-logo {
    color: darkgray;
    position: relative;
    padding-left: 1em;
    margin-right: 1em;
}

nav ul a {
    color: darkgrey;
    font-size: 1.2rem;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.flashMessage {
    background-color: #fff9c4 ;
}