{% extends "materializecss/base.html" %}

{% block title %}Flasky{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
{% endblock %}

{% block body %}
    {% block navbar %}
        <div class="navbar-fixed">
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">Flasky</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                                class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/">Home</a></li>
                        </ul>

                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}

    {% block content %}
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="card-panel yellow lighten-4">
                    <button style="background: none; border: none" class="right closeButton" ><i class="material-icons right">close</i></button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block page_content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN") }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();

            $(".closeButton").on('click', function (e) {
                $(".card-panel").remove()
            })
        })
    </script>
{% endblock %}