{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block page_content %}
    <div class="section">
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}</h1>
    </div>
    <div class="divider"></div>
    <div class="section" style="margin-top: 20px">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.name(required=True)}}
                    {{ form.name.label}}
                    <button class="btn waves-effect waves-light" type="submit">
                        {{ form.submit() }}<i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
