{% extends "materializecss/base.html" %}

{% block title %}Flasky{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block body %}
    {% block navbar %}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo left">Flasky</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                            class="material-icons">menu</i></a>
                    <ul class="hide-on-med-and-down left">
                        <li><a href="/">Home</a></li>
                    </ul>

                    <ul class="hide-on-med-and-down right">
                        {% if current_user.is_authenticated %}
                            <li class="right"><a href="{{ url_for('auth.logout') }}"> Sign Out</a></li>
                        {% else %}
                            <li class="right"><a href="{{ url_for('auth.login') }}"> Sign In</a></li>
                        {% endif %}
                    </ul>

                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    {% endblock %}

    {% block content %}
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="card-panel flashMessage">
                    <button style="background: none; border: none" class="right closeButton"><i
                            class="material-icons right">close</i></button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block page_content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN") }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();

            $(".closeButton").on('click', function (e) {
                $(this).parent().remove();
            })
        })
    </script>
{% endblock %}