{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% import "_macros.html" as macros %}
{% import "_posts.html" as macros_posts %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}</h1>
    </div>
    <div class="section">
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <form method="post">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col s12">
                        {{ form.body.label(style="font-size:1.2em") }}
                        {{ form.body(class_="materialize-textarea") }}
                    </div>

                    <div class="col s12" style="margin-top: 10px">
                        <button class="btn waves-effect waves-light input-field" type="submit">
                            {{ form.submit() }}<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="row">
        <ul class="tabs">
            <li class=" tab col s3">
                <a href="#showAll" {% if not current_user.is_authenticated %} class="active"{% endif %}>All</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class=" tab col s3">
                    <a href="#showFollow" class="active">Follow</a>
                </li>
            {% endif %}
        </ul>
        {#        {% include '_posts.html' %}#}
        <div id="showAll">
            {{ macros_posts.posts_widget(posts_show_all, moment, current_user) }}
        </div>
        {% if current_user.is_authenticated %}
            <div id="showFollow">
                {{ macros_posts.posts_widget(posts_show_follow, moment, current_user) }}
            </div>
        {% endif %}
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });
    </script>
{% endblock %}
